[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
alembic = "*"
appdirs = "*"
astroid = "*"
blinker = "*"
certifi = "*"
chardet = "*"
click = "*"
distlib = "*"
dnspython = "*"
email-validator = "*"
filelock = "*"
Flask = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
idna = "*"
importlib-metadata = "*"
isort = "*"
itsdangerous = "*"
Jinja2 = "*"
lazy-object-proxy = "*"
Mako = "*"
MarkupSafe = "*"
mccabe = "*"
pip = "*"
pipenv = "*"
pylint = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
setuptools = "*"
six = "*"
SQLAlchemy = "*"
toml = "*"
typed-ast = "*"
urllib3 = "*"
virtualenv = "*"
virtualenv-clone = "*"
Werkzeug = "*"
wheel = "*"
wrapt = "*"
WTForms = "*"
zipp = "*"
flask-mail = "*"
jwt = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-babel = "*"
guess-language-spirit = "*"
blocks = "*"
fuel = "*"
socketserver = "*"

[requires]
python_version = "3.7"
